.the-board-view {
    min-height: 100vh;
    display: flex;
    .game {
        margin: auto;

        .turn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: var(--half-padding);

            .turn-text {
                font-size: 1.25rem;
                font-weight: 900;
                letter-spacing: 2px;
            }
            .turn-symbol {
                font-size: 1.25rem;
                font-weight: 900;

                &.turn-X {
                    color: var(--color-accent-one);
                }
                &.turn-O {
                    color: var(--color-accent-two);
                }
            }
        }
        .scores {
            display:  flex;
            justify-content: space-between;
            align-items: center;
            gap: var(--half-padding);
            padding-top: var(--full-padding);;
            
            .score {
                border-radius: var(--radius);
                width: 100%;
                aspect-ratio: 2;
                background-color: var(--color-semi-neutral);
                padding: var(--half-padding);

                &.player-x {
                    background-color: var(--color-accent-one);
                    color: var(--color-backgrond);
                }
                &.ties {
                    background-color: var(--color-neutral);
                    color: var(--color-backgrond);
                }
                &.player-o {
                    background-color: var(--color-accent-two);
                    color: var(--color-backgrond);
                }

                .score-title,
                .score-number {
                    text-align: center;
                }
                .score-title {
                    font-size: 0.9rem;
                }
                .score-number {
                    font-weight: 900;
                    font-size: 1.25rem;
                }
            }
        }
        .end-buttons {
            display: flex;
            align-items: center;
            gap: 16px;
            padding-top: var(--full-padding);;

            .rematch {
                flex: 90%
            }
        }
    }
}