@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --color-backgrond: #121212;
    --color-semi-neutral: #1e1e1e;
    --color-accent-one: #bb86fc;
    --color-accent-two: #bb86fc;
    --color-neutral: #dddddd;
    --radius: 8px;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: var(--color-backgrond);
  color: var(--color-neutral)
}

.container {
    width: Min(70rem, 90%);
    margin-inline: auto;
}